section{
	display:flex;
	flex-direction: column;
	align-items: center;
}

ol{
	width:100%;
	display:flex;
	flex-wrap: wrap;
	padding:0;
}
.content {
	position: absolute;
	BOX-sizing: border-box;
	text-align: center;
	box-shadow: 10px 10px 8px 10px black;
	border-radius: 10px;
	width: 320px;
	height: 320px;
	opacity: 0;
}

.toggle{
	width:320px;
	height: 320px;
	display:flex;
	align-items: center;
	justify-content: center;
}
.hide{

	display:flex;
	justify-content: flex-end;
	display:none;
}
.hide.active{
	display:flex;
}
.content>p {
	font-size: 25px;
	margin-top: 10vh;
	margin: 2vh;
	padding: 3vh;
	text-align: center;
	font-weight: 700;
	color: yellow;
	text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
	background-color: rgba(0, 0, 0, 0.274);
	border-radius: 10px;
}

.content>p>span {
	font-size: 25px;
}

.content>a {
	position: absolute;
	margin-top: 100%;
	font-size: 35px;
	text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.274);
	text-align: center;
	font-weight: 700;
	margin: 17% 10% 1% -30%;
	padding: 3vh;
}

a:link {
	text-decoration: none;
}

.content>a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	border-top: 2px solid #21ecff8f;
	border-left: 2px solid #21ecff8f;
	transition: 0.5s;
	transition-delay: 0.3s;
}

.content>a:hover:before {
	width: 100%;
	height: 100%;
	transition-delay: 0s;
}

.content>a:after {
	content: '';
	position: absolute;
	top: 83px;
	left: 173px;
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #21ecff8f;
	border-right: 2px solid #21ecff8f;
	transition: 0.5s;
	transition-delay: 0.3s;
}

.content>a:hover:after {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transition-delay: 0s;
}

.content>a:hover {
	background: #21ecff94;
	color: rgb(251, 255, 5);
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 0 0 50px #21ecff;
	transition: 1s;
}



.EstiloTabla {
	display: none;
}

.Moretable {
	display: flex;
	Border: solid;
	border-style: ridge;
	border-color: rgba(0, 0, 0, 0.274);
	background-color: rgba(0, 0, 0, 0.274);
	cursor: pointer;
	justify-content: center;
	padding-right: 20px;
}

.Moretable:hover {
	background: #21ecff94;
	color: rgb(251, 255, 5);
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 0 0 50px #21ecff;
	transition: 1s;
}

.content:hover>a {
	animation-name: sliding;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes sliding {
	from {
		margin-top: 31%;
		opacity: 0;
	}
	to {
		margin-top: 0%;
		opacity: 1;
	}
}

.MainBox {
	Display: Flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.BoxA {
	Display: Flex;
	justify-content: space-between;
	width:100%;

}

.BoxB {
	Display: Flex;
	width:100%;
	justify-content: space-around;
}

.BoxC {
	background-image: url("../img/5.2.png");
	width:320px;
	height:320px;
}

.BoxD {
	background-image: url("../img/6.2.png");
	width:310px;
	height:320px;
}

.BoxE {

	background-image: url("../img/7.6.png");
	width:310px;
	height:320px;
}

.BoxF {

	background-image: url("../img/8.3.png");
	width:310px;
	height:320px;	
}

.textstyle {
	font-size: 2vh;
	color: #ffffff;
	font-weight: 100;
}
.TextContact > p{
	margin:-10px;
}
.BackgroundText {
	background-color: #d2d2d294;
	width: 1200px;
	box-shadow: 1px 1px 1px 10px #111010;
	border-radius: 10px;
	margin: 5vh 14.2vh 14.2vh 14.2vh;
	padding: 6vh;
}

.finalbackground {
	background-color: #d2d2d294;
	box-shadow: 1px 1px 1px 10px #111010;
	width: 1200px;
	border-radius: 10px;
	margin: 5vh 14.2vh 17vh 14.2vh;
	padding: 6vh;
}

.EstiloTexto {
	color: white;
	font-size: 25px;
	text-shadow: 2px 2px 4px #000000;
}

.TextContact {
	position: relative;
	margin: -2% 0% -1% 0%;
	font-size: 40px;
	text-align: center;
}

.StyleContact {
	color: lightblue;
}

img {
	float: left;
	width: 320px;
	height: 320px;
	object-fit: contain;
}


html {
	background: url(../img/5.2.jpg) fixed;
	background-position: 38%;
}

.fuente-oswald {
	font-family: "Oswald", arial;
}

.fuente-raleway {
	font-family: "Raleway", arial;
}

.text-style {
	text-align: center;
}

.tituloTexto {
	font-size: 50px;
	margin-bottom:20px;
	text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
	color: #fdee17;
	font-weight: 100;
	font-family: "Oswald", oswald;
}

#titulo {
	margin-top: 10px;
}

.text-center {
	text-align: center;
}

.to-top {
	background: white;
	position: fixed;
	right: 32px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	color: #1f1f1f;
	transition: all 1s;
	opacity: 0;
}

.to-top.active {
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}
.to-top:focus {
	outline: none;
}

#showbutton {
	position: fixed !important;
	left: 36px;
	bottom: 30px;
	right: initial;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #191919;
	color: white;
	border-color: rgb(46, 204, 113);
	font-size: 26px;
	cursor: pointer;
	text-decoration: none;
	box-shadow: 0 0 10px #21ecff;
}
#showbutton:focus {
	outline: none;
}
.box {
	width: 300px;
	padding: 40px;
	position: absolute;
	transform: translate(0%, -105%);
	background: #191919;
	text-align: center;
	border-radius: 50px;
	box-shadow: 10px 10px 8px 1px black;
	Display: none;
}

.main {
	position: fixed;
	bottom: 50px;
	z-index: 2;
}

.box h1 {
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type="text"],
.box textarea[type="text"],
.box input[type="email"] {
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type="text"]:focus,
.box textarea[type="text"]:focus,
.box input[type="email"]:focus {
	width: 280px;
	border-color: #2ecc71;
}

.morepadding {
	padding-bottom: 70px !important;
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	resize: none;
	overflow: auto;
}

::-webkit-scrollbar {
	width: 5px;
}

.box input[type="submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.box input[type="submit"]:hover {
	background: #2ecc71;
}

.contact-form {
	padding: 20px;
	position: absolute;
	top: 0;
	bottom: 85px;
	left: 0;
	right: 0;
	padding-top: 10px;
	overflow: hidden;
}

.header p {
	display: block;
	align-content: center;
	text-align: center;
	margin-top: -5%;
}

table,
th,
td {
	border: 1px solid black;
	text-align: center;
}

#hidebutton {
	display: none;
	bottom: 355px;
	left: 324px;
	z-index: 1;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(20, 20, 20, 0.21);
	position: absolute;
	border-color: rgb(46, 204, 113);
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
  width: 40px;
}

#hidebutton:focus {
	outline: none;
}

.color {
	color: rgb(46, 204, 113);
}


.flecha{
	position:absolute;
	color: #fdee17;
	text-shadow: 0 0 10px #FF0000, 0 0 10px #0000FF;
	z-index:1;
	font-size:50px;
	/* box-shadow: 8px 7px 11px 2px rgba(0, 0, 0, 0.671);*/

}

.content.active{
	opacity: 1;
	transition: 0.6s;
}
iframe{
	border:15px solid rgb(8, 8, 8);
	border-radius: 20px !important;
}
@font-face {
	font-family: "Oswald";
	src: url("../fonts/Oswald.ttf");
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway.ttf");
}

@media screen and (max-width: 540px){
.BoxA{
	display:flex;
	width:100%;
}
.BoxB{
	display:flex;
}

.BoxC{
	background-size: 100%;
	background-repeat:no-repeat;
	width:100%;
	height: 169px;
	background-position: center;
}
.BoxD{
	background-size: 115%;
	background-repeat:no-repeat;
	height:171px;
	background-position: center;
}

.BoxE{
	background-size: 100%;
	background-repeat:no-repeat;
	width:100%;
	height: 187px;
	background-position: center;
	
}
.BoxF{
	background-size: 184px;
	background-repeat:no-repeat;
	width:100%;
	height: 187px;
	background-position: center;
}



.mainBox{
	display:flex;
	align-content: center;
	align-items:center;
}
ol{
margin: 0;
padding: 0;
width:100%;
display:flex;
flex-direction: column;
align-items:center;

}
.content{
display:flex;
align-items:center;
justify-content: space-around;
flex-direction: column;
width: 157px;
height: 168px;
}

iframe{

	width:90%;
}
#THEMASTERPIECECUBE{
	font-size:40px;
}

.finalbackground{
	margin-left:23px;
	margin-right:8px;
	padding:10px;
	width: 80%;
}

.BackgroundText{
	margin-left:23px;
	margin-right:8px;
	padding:10px;
	width:80%;
}

table{
	table-layout:fixed;
	width:100%;
}

table.EstiloTexto{
	font-size:10px;
}
.Moretable{
	padding-right: 0;
}
.content>p{
	position:relative;
	text-align:center;
	background-color:transparent;
	font-size:14px;
}

.content>a{
	position:relative;
	margin:0;
	font-size: 21px;
	margin-bottom: 20px;
}
.content>a:after{
left:114px;
top:59px
}

.toggle{
	width: 100%;
	height: 100%;
}

.EstiloTexto{
	font-size: 20px;
}

html{
	background-position: 49.5%;
}

}

